.himage{
  background-image: url("../images/bg/h_img.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.simage{
  background-image: url("../images/bg/s_image.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.box{
  padding: 50px;
}